body{
	background-color: rgb(200,200,200);
}

h1{
	color: rgb(150, 70, 50);
}

.p1{
	color: rgb(50, 20, 180);
	font-family: Helvetica;
}

.p2{
	color: rgb(50, 20, 180);
	font-family: Helvetica;
} 

.p3{
	color: rgb(50, 20, 180);
	font-family: Helvetica;
}

.p4{
	color: rgb(50, 20, 180);
	font-family: Helvetica;
}  