html{
	overflow: scroll;
}

body{
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: black;
	background-position: center;
	background-image: url('galaxy.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 3500px;
	height: 1500px;
	overflow: hidden;
} 

.moon{
	position: absolute;
	width: 0vw;
	height: 0vw;
	top: 20vw;
	left: 15vw;
    border-radius: 45%;
    animation-name: animationA;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sun{
	position: absolute;
	top: 10vw;
	left: 54vw;
    border-radius: 45%;
 }

.jupiter{
	position: absolute;
	height: .1vw;
	width: .1vw;
	top: 10vw;
	left: 160vw;
    animation-name: animationA;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
 }

.earth{
	position: absolute;
	width: 0vw;
	height: 0vw;
	top: 40vw;
	left: 25vw;
	background-color: rgb(20, 80, 200);
    animation-name: animationA;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

.saturn{
	position: absolute;
	top: 60vw;
	left: 180vw;
    animation-name: animationA;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

.button{
	position: absolute;
	left: -400px;
	top: 100px;
	transition: all 1s ease-in-out;
}

.button.alarm{
	left: 600px;
}

.light{
	position: absolute;
	top: 900px;
	left: 150px;
}

.comet2{
	position: absolute;
	top: 900px;
	left: 2300px;
}

.meteor1 {
  position: absolute;
  top: -500px;
  left: 30px;
}

.meteor1.alarm {
  left: 2500px;
  top: 1500px;
  transition: all .9s ease-in-out;
}

.meteor2 {
  position: absolute;
  top: -500px;
  left: -300px;
}

.meteor2.alarm {
  left: 700px;
  top: 1800px;
  transition: all 1s ease-in-out;
}

.meteor3{
	position: absolute;
	top: -500px;
	left: -200px;
}

.meteor3.alarm{
	left: 2900px;
	top: 1800px;
	transition: all 1s ease-in-out;
}

.meteor4{
	position: absolute;
	top: -500px;
	left: -100px;
}

.meteor4.alarm{
	left: 2100px;
	top: 1500px;
	transition: all 1s ease-in-out;
} 

.meteor5{
	position: absolute;
	top: -500px;
	left: 2500px;
	transform: rotate(90deg);
}

.meteor5.alarm{
	top: 1500px;
	left: -200px;
	transition: all 1s ease-in-out;
} 

.meteor6{
	position: absolute;
	top: -500px;
	left: 3600px;
	transform: rotate(90deg);
}

.meteor6.alarm{
	top: 1800px;
	left: 600px;
	transition: all 1s ease-in-out;
}

.meteor7{
	position: absolute;
	top: -700px;
	left: 1600px;
	transform: rotate(90deg);
}

.meteor7.alarm{
	top: 800px;
	left: -700px;
	transition: all 1s ease-in-out;
} 

.meteor8{
	position: absolute;
	top: -500px;
	left: 2900px;
	transform: rotate(90deg);
}

.meteor8.alarm{
	top: 1800px;
	left: 500px;
	transition: all 1s ease-in-out;
}

.meteor9{
	position: absolute;
	top: 1800px;
	left: 3000px;
	transform: rotate(180deg);
}

.meteor9.alarm{
	top: -800px;
	left: 1000px;
	transition: all 1s ease-in-out;
} 

.meteor10{
	position: absolute;
	top: 1800px;
	left: 3700px;
	transform: rotate(180deg);
}

.meteor10.alarm{
	top: -800px;
	left: 1800px;
	transition: all 1s ease-in-out;
} 

.meteor11{
	position: absolute;
	top: 1800px;
	left: 1800px;
	transform: rotate(180deg);
}

.meteor11.alarm{
	top: -800px;
	left: 200px;
	transition: all 1s ease-in-out;
} 

.meteor12{
	position: absolute;
	top: 2000px;
	left: 2400px;
	transform: rotate(180deg);
}

.meteor12.alarm{
	top: -800px;
	left: -1000px;
	transition: all 1s ease-in-out;
} 

.meteor13{
	position: absolute;
	top: 2500px;
	left: 500px;
	transform: rotate(220deg);
}

.meteor13.alarm{
	top: -500px;
	left: 400px;
	transition: all 1s ease-in-out;
} 

.meteor14{
	position: absolute;
	top: 2500px;
	left: 100px;
	transform: rotate(220deg);
}

.meteor14.alarm{
	top: -500px;
	left: 50px;
	transition: all 1s ease-in-out;
} 

.meteor15{
	position: absolute;
	top: 2500px;
	left: 1100px;
	transform: rotate(240deg);
}

.meteor15.alarm{
	top: -500px;
	left: 2050px;
	transition: all 1s ease-in-out;
}

.meteor16{
	position: absolute;
	top: 2500px;
	left: 2000px;
	transform: rotate(240deg);
}

.meteor16.alarm{
	top: -500px;
	left: 2850px;
	transition: all 1s ease-in-out;
}
/*
.message {
  position: absolute;
  font-family: Helvetica;
  font-size: 80px;
  top: 100px;
  left: -600px;
  display: none;
  transition: all 1s ease-in-out;
  animation-name: animationB;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.message.alarm {
  display: block;
  left: 900px;
}*/

.audio{
	position: absolute;
	top: 15px;
}

@keyframes animationA{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animationB{
  0% {
    background-color: rgb(20, 0, 0);
  }
  100% {
    background-color: rgb(255, 0, 0);
  }
}